# SF Salaries Exercise

In [1]:
import pandas as pd

## Instance read

In [3]:
sal = pd.read_csv('../../data/Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## Preprocessing

In [33]:
sal = sal[sal['BasePay'] != 'Not Provided']

pass_to_numeric = [
    'BasePay',
    'OvertimePay',
    'OtherPay',
    'Benefits',
    'TotalPay',
    'TotalPayBenefits'
]

for x in pass_to_numeric:
    sal[x] = pd.to_numeric(sal[x])

sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148650 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148650 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148650 non-null  float64
 8   TotalPayBenefits  148650 non-null  float64
 9   Year              148650 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148650 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 15.9+ MB

### Average BasePay?

In [36]:
sal['BasePay'].mean()

66325.44884050643

### Highest amount of OvertimePay?

In [38]:
sal['OvertimePay'].max()

245131.88

### What's the job title of JOSEPH DRISCOLL?

In [42]:
joseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
joseph['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### How much JOSEPH DRISCOLL make (including benefits)?

In [44]:
joseph['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### What's the name of highest paid person (including benefits)?

In [52]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [57]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

In [61]:
sal.iloc[sal['TotalPayBenefits'].argmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

### What's the name of lowest paid person (including benefits)?

In [65]:
sal.loc[
    sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()
]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

### What's the average (mean) BasePay of all employees per year? (2011-2014)

In [75]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### How many unique job titles are there?

In [83]:
sal['JobTitle'].nunique()

2158

### What are the top 5 most common jobs?

In [88]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### How many job titles were represented by only one person in 2013?

In [99]:
sals_2013 = sal[sal['Year'] == 2013]
sals_2013 = sals_2013.drop('Year', axis=1)

sum(sals_2013['JobTitle'].value_counts() == 1)

202

### How many people have the word 'chief' in their job title?

In [103]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [106]:
sum(sal['JobTitle'].apply(chief_string))

477

In [4]:
sum(sal['JobTitle'].apply(lambda x: True if 'chief' in x.lower().split() else False))

477

### Bonus: If there a correlation between lenght of the Job Title string and Salary?

In [115]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [118]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits           1.00000   -0.03692
title_len                 -0.03692    1.00000